/*-------HEADER------ */
.header {
    grid-area: header;
}
.navbar{
    background-color: #6d0e16;
}
.navbar-brand{
    padding-left: 1rem;
    text-align: left;
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
}
@media (min-width:768px) {
    .navbar-brand{
        text-align: center;
    }
}

.navbar-nav{
    margin-right: 3rem;
    padding-left: 1rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    color: white;
    padding: 0.5rem;
}
.navbar-toggler{
    color: white;
}
.nav-link:hover{
    color: black;
}
