/* Container de la pestaña */
.container-pestaña {
    display: flex;
    flex-direction: column;
}

/* Clases generales de la pestaña */

.imagen {
    width: 100%;
    height: 60vh;
}

.nosotros-titulo , .artesanales-titulo{
    padding: 1.5rem 1rem 0.5rem 1rem;
    height: auto;
    h3 {
        letter-spacing: 0.2rem;
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 1vh;
    }
    h2 {
        font-weight: 600;
        letter-spacing: 0.3rem;
        font-size: 2rem;
    }
    p{
        font: {
            size: 1.25rem;
            weight: 400;
            style: normal;
        }
        text-align: left;
    }
}

@media (min-width:768px) {
    .container-pestaña {
        display: flex;
        flex-direction: column;
    }
    .artesanales-titulo,.nosotros-titulo {
        width: 50%;
        display:inline-block;
        height: auto;
        h2 {
            font-size: 1.4rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .imagen {
        width: 50%;
        height: 50vh;
    }
}
@media (min-width:1024px) {
    .container-pestaña {
        display: grid;
        grid-template-areas: 
        "header header"
        "nosotros artesanales"
        "separador separador"
        "personal personal"
        "footer footer"
        ;
    }
    .nosotros{
        grid-area: nosotros;
    }
    
    .artesanales {
        grid-area: artesanales;
    }
    .artesanales-titulo,.nosotros-titulo {
        width: 100%;
        height: 40vh;
        h2 {
            font-size: 1.8rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        p{
            font-size: 1.25rem;
        }
    }
    .imagen {
        width: 100%;
        height: 80vh;
    }
    
}

/* --STAFF-- */

.staff {
    background-color: rgb(255, 255, 255);
    color: black;
    grid-area: personal;
    display: flex;
    flex-direction: column;
}

.persona {
    width: 100%;
}

.staff-titulos {
    height: auto;
    padding: 0rem 1rem 1rem 1rem;
        h4 {
            font-size: 1.7rem;
            padding-top: 1rem;
        }
        p{
            font-size: 1.2rem;
            color: rgb(82, 76, 76);
            text-align: left;
        }
}

.staff-fotos {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

@media (min-width:768px) {
    .staff {
        flex-direction: row;
    }

    .persona {
        width: 33.333333334%;
    }
}