/* Container de la pagina */
.flex-container--contacto {
    display: flex;
    flex-direction: column;
}

/* Formulario */

.consultas {
    color: black;
    background-color: white;
    font-size: 2rem;
    padding: 2rem;
    background-color: rgb(187, 189, 207) ;
}
.consultas-form__titulo {
    margin-bottom: 3vh;
}
.consultas-form__titulo h2 { 
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.6rem;
    font-size: 3rem;
    padding-bottom: 2vh;
}

.consultas-form__titulo p {
    font-family: 'Ephesis', cursive;
    font-weight: 500;
    color:#990e31;
    font-size: 2.5rem;
    line-height: 4vh;
}
.consultas-form{
    border: none;
    font-size: 1.5rem;
}

.consultas-form__cuerpo {
    line-height: 4vh;
    display: flex;
    flex-direction: column;
    padding-right: 18rem;
    padding-left: 18rem;
}

.consultas-form__cuerpo--div{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0px;
    align-items: center;
}

.consultas-form__cuerpo--div label {
    padding-right: 1rem;
    font-size: 1.5rem;
}

.consultas-form__cuerpo--input, textarea {
    padding: 0.5rem;
    color: rgb(83, 80, 80);
    font-size: 1rem;
    border: none;
    width: 100%;
}

.boton {
    font-size: 2rem;
    width: 10rem;
}