/* Container de la pagina */
.flex-container--contacto {
    display: flex;
    flex-direction: column;
}

/* Formulario */

.consultas {
    color: black;
    background-color: white;
    font-size: 2rem;
    padding: 2rem;
    background-color: rgb(187, 189, 207) ;
}
.consultas-form__titulo {
    margin-bottom: 3vh;
}
.consultas-form__titulo h2 { 
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6rem;
    font-size: 3rem;
    padding-bottom: 2vh;
    font-family: 'Open Sans', sans-serif;
}

.consultas-form__titulo p {
    font-family: 'Ephesis', cursive;
    font-weight: 500;
    color:#990e31;
    font-size: 2.5rem;
    line-height: 4vh;
}
.consultas-form{
    border: none;
    font-size: 2rem;
}

.consultas-form__cuerpo {
    line-height: 5vh;
    display: grid;
    grid-template-areas: 
    "nombre apellido"
    "telefono correo"
    "mensaje letter"
    "mensaje boton";
}

.consultas-form__cuerpo--div{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.consultas-form__cuerpo--div label {
    padding-right: 1rem; padding-left: 1rem;
    font-size: 1.5rem;
}

.consultas-form__cuerpo--input, textarea {
    padding: 0.5rem;
    color: rgb(83, 80, 80);
    font-size: 1rem;
    border: none;
    width: 100%;
    margin-bottom: 1.5vh;
}

.nombre {
    grid-area: nombre;
}
.apellido {
    grid-area: apellido;
}
.correo {
    grid-area: correo;
}
.telefono {
    grid-area: telefono;
}
.mensaje {
    grid-area: mensaje;
}
.newsletter {
    grid-area: letter;
}
.boton {
    font-size: 2rem;
    width: 10rem;
}