/* Container de la pestaña */
.container-pestaña {
    display: flex;
    flex-direction: column;
}

/* Clases generales de la pestaña */

.imagen {
    width: 100%;
    height: 80vh;
}

.nosotros-titulo , .artesanales-titulo{
    padding: 1.5rem 1rem 1.5rem 1rem;
    height: auto;
}

.titulos-h3 {
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    padding-bottom: 1vh;
    font-weight: 600;
}

.descripciones {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.nosotros h2, .artesanales h2 {
    font-weight: 600;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}

@media (min-width:728px) {
    .container-pestaña {
        display: grid;
        grid-template-areas: 
        "header header"
        "nosotros artesanales"
        "separador separador"
        "personal personal"
        "footer footer";
        grid-template-rows: 12vh 128vh auto;
    }
    .nosotros{
        grid-area: nosotros;
    }
    
    .artesanales {
        grid-area: artesanales;
    }
}

/* --STAFF-- */

.staff {
    background-color: rgb(24, 24, 24);
    color: white;
    grid-area: personal;
    display: flex;
    flex-direction: column;
}

.persona {
    width: 100%;
}

.staff-titulos {
    height: 30vh;
    padding: 1rem;
}

.staff-titulos h3 {
    font-size: 2rem;
    padding: 1rem;
}

.staff-titulos p {
    font-size: 1.2rem;
}

.staff-fotos {
    width: 100%;
    height: 60vh;
}

@media (min-width:728px) {
    .staff {
        background-color: rgb(24, 24, 24);
        color: white;
        grid-area: personal;
    }
    .persona {
        width: 33.333333334%;
    }
    
}